In [1]:
import pandas as pd

In [2]:
url = 'https://www.spotrac.com/mlb/free-agents/'

In [3]:
tables = pd.read_html(url)
tables

[          Player (92) Pos.   Age From   To    Yrs         Dollars  \
 0       Manny Machado   3B  26.0  LAD   SD   10.0    $300,000,000
 1      Patrick Corbin   SP  30.0  ARI  WSH    6.0    $140,000,000
 2      Nathan Eovaldi   SP  29.0  BOS  BOS    4.0     $68,000,000
 3        A.J. Pollock   CF  31.0  ARI  LAD    5.0     $60,000,000
 4    Andrew McCutchen   RF  32.0  NYY  PHI    3.0     $50,000,000
 5        Zack Britton   RP  31.0  NYY  NYY    3.0     $39,000,000
 6           J.A. Happ   SP  36.0  NYY  NYY    2.0     $34,000,000
 7    Michael Brantley   LF  32.0  CLE  HOU    2.0     $32,000,000
 8      Jeurys Familia   RP  29.0  OAK  NYM    3.0     $30,000,000
 9      Charlie Morton   SP  35.0  HOU   TB    2.0     $30,000,000
 10         Lance Lynn   SP  32.0  NYY  TEX    3.0     $30,000,000
 11      Adam Ottavino   RP  33.0  COL  NYY    3.0     $27,000,000
 12      Andrew Miller   RP  34.0  CLE  STL    2.0     $25,000,000
 13          Joe Kelly   RP  31.0  BOS  LAD    3.0     $25,000,000
 14      D.J. LeMahieu   2B  30.0  COL  NYY    2.0     $24,000,000
 15      Daniel Murphy   1B  34.0  CHC  COL    2.0     $24,000,000
 16    David Robertson   RP  34.0  NYY  PHI    2.0     $23,000,000
 17     Josh Donaldson   3B  33.0  CLE  ATL    1.0     $23,000,000
 18    Marwin Gonzalez   LF  30.0  HOU  MIN    2.0     $21,000,000
 19         Jed Lowrie   2B  35.0  OAK  NYM    2.0     $20,000,000
 20     Anibal Sanchez   SP  35.0  ATL  WSH    2.0     $19,000,000
 21       Wilson Ramos    C  31.0  PHI  NYM    2.0     $19,000,000
 22    Yasmani Grandal    C  30.0  LAD  MIL    1.0     $18,250,000
 23     Kelvin Herrera   RP  29.0  WSH  CHW    2.0     $18,000,000
 24   Garrett Richards   SP  31.0  LAA   SD    2.0     $15,500,000
 25       Joakim Soria   RP  35.0  MIL  OAK    2.0     $15,000,000
 26        Nelson Cruz   DH  38.0  SEA  MIN    1.0     $14,300,000
 27      Michael Fiers   SP  34.0  OAK  OAK    2.0     $14,100,000
 28        Matt Harvey   SP  30.0  CIN  LAA    1.0     $11,000,000
 29     Mike Moustakas   3B  30.0  MIL  MIL    1.0     $10,000,000
 ..                ...  ...   ...  ...  ...    ...             ...
 269   Jason Bourgeois   LF  37.0  CHW  TBD    NaN             NaN
 270        Luis Perez   RP  34.0  CLE  TBD    NaN             NaN
 271     James Russell   RP  33.0  DET  TBD    NaN             NaN
 272   Brian Schlitter   RP  33.0  OAK  TBD    NaN             NaN
 273     Nick Hagadone   RP  33.0  SEA  TBD    NaN             NaN
 274     Jim Henderson   RP  36.0  MIL  TBD    NaN             NaN
 275     Neftali Feliz   RP  31.0  ARI  TBD    NaN             NaN
 276       Brayan Pena    C  37.0  DET  TBD    NaN             NaN
 277      Samir Duenez   1B  23.0   KC  TBD    NaN             NaN
 278    Shawn Tolleson   RP  31.0  TEX  TBD    NaN             NaN
 279       Pedro Beato   RP  32.0  PHI  TBD    NaN             NaN
 280       Mike Baxter   LF  34.0  SEA  TBD    NaN             NaN
 281       Chris Young   RP  40.0   SD  TBD    NaN             NaN
 282     Cesar Jimenez   RP  34.0  MIL  TBD    NaN             NaN
 283       Darin Downs   RP  34.0  HOU  TBD    NaN             NaN
 284      Andy LaRoche   3B  35.0   KC  TBD    NaN             NaN
 285      Tommy Joseph   1B  27.0  TEX  TBD    NaN             NaN
 286   Conor Gillaspie   3B  31.0   SF  TBD    NaN             NaN
 287       Adam Loewen   RP  35.0  TEX  TBD    NaN             NaN
 288    Jordan Schafer   CF  32.0   SF  TBD    NaN             NaN
 289        Mike McCoy   RF  38.0   SD  TBD    NaN             NaN
 290  Daniel McCutchen   RP  36.0   SD  TBD    NaN             NaN
 291   Carlos Corporan    C  35.0  CHC  TBD    NaN             NaN
 292      Bryan Morris   RP  32.0   SF  TBD    NaN             NaN
 293       Jo-Jo Reyes   SP  34.0  MIA  TBD    NaN             NaN
 294    Chris Parmelee   1B  31.0  MIA  TBD    NaN             NaN
 295    Hanley Ramirez   1B  35.0  CLE  TBD    NaN             NaN
 296        Ryan Perry   RP  32.0  DET  TBD    NaN             NaN
 297     Luke Putkonen   RP  33.0  DET  TBD    NaN             NaN
 298               NaN  NaN   NaN  NaN  NaN  213.0  $1,464,195,000

     Average Salary  Signed
 0      $30,000,000     NaN
 1      $23,333,333     NaN
 2      $17,000,000     NaN
 3      $12,000,000     NaN
 4      $16,666,667     NaN
 5      $13,000,000     NaN
 6      $17,000,000     NaN
 7      $16,000,000     NaN
 8      $10,000,000     NaN
 9      $15,000,000     NaN
 10     $10,000,000     NaN
 11      $9,000,000     NaN
 12     $12,500,000     NaN
 13      $8,333,333     NaN
 14     $12,000,000     NaN
 15     $12,000,000     NaN
 16     $11,500,000     NaN
 17     $23,000,000     NaN
 18     $10,500,000     NaN
 19     $10,000,000     NaN
 20      $9,500,000     NaN
 21      $9,500,000     NaN
 22     $18,250,000     NaN
 23      $9,000,000     NaN
 24      $7,750,000     NaN
 25      $7,500,000     NaN
 26     $14,300,000     NaN
 27      $7,050,000     NaN
 28     $11,000,000     NaN
 29     $10,000,000     NaN
 ..             ...     ...
 269            NaN     NaN
 270            NaN     NaN
 271            NaN     NaN
 272            NaN     NaN
 273            NaN     NaN
 274            NaN     NaN
 275            NaN     NaN
 276            NaN     NaN
 277            NaN     NaN
 278            NaN     NaN
 279            NaN     NaN
 280            NaN     NaN
 281            NaN     NaN
 282            NaN     NaN
 283            NaN     NaN
 284            NaN     NaN
 285            NaN     NaN
 286            NaN     NaN
 287            NaN     NaN
 288            NaN     NaN
 289            NaN     NaN
 290            NaN     NaN
 291            NaN     NaN
 292            NaN     NaN
 293            NaN     NaN
 294            NaN     NaN
 295            NaN     NaN
 296            NaN     NaN
 297            NaN     NaN
 298     $6,874,155     NaN

 [299 rows x 9 columns]]

In [6]:
df = tables[0]
df.columns = ['Player', 'Position', 'Age', 'From', 'To', 'YRS', 'Dollars', 'AVG Salary', 'Signed']
df.head()

,Player,Position,Age,From,To,YRS,Dollars,AVG Salary,Signed
0,Manny Machado,3B,26.0,LAD,SD,10.0,"$300,000,000","$30,000,000",NaN
1,Patrick Corbin,SP,30.0,ARI,WSH,6.0,"$140,000,000","$23,333,333",NaN
2,Nathan Eovaldi,SP,29.0,BOS,BOS,4.0,"$68,000,000","$17,000,000",NaN
3,A.J. Pollock,CF,31.0,ARI,LAD,5.0,"$60,000,000","$12,000,000",NaN
4,Andrew McCutchen,RF,32.0,NYY,PHI,3.0,"$50,000,000","$16,666,667",NaN

In [9]:
signed_free_agents = df[['Player', 'Position', 'YRS', 'AVG Salary', 'Dollars']]
signed_free_agents

               Player Position    YRS   AVG Salary         Dollars
0       Manny Machado       3B   10.0  $30,000,000    $300,000,000
1      Patrick Corbin       SP    6.0  $23,333,333    $140,000,000
2      Nathan Eovaldi       SP    4.0  $17,000,000     $68,000,000
3        A.J. Pollock       CF    5.0  $12,000,000     $60,000,000
4    Andrew McCutchen       RF    3.0  $16,666,667     $50,000,000
5        Zack Britton       RP    3.0  $13,000,000     $39,000,000
6           J.A. Happ       SP    2.0  $17,000,000     $34,000,000
7    Michael Brantley       LF    2.0  $16,000,000     $32,000,000
8      Jeurys Familia       RP    3.0  $10,000,000     $30,000,000
9      Charlie Morton       SP    2.0  $15,000,000     $30,000,000
10         Lance Lynn       SP    3.0  $10,000,000     $30,000,000
11      Adam Ottavino       RP    3.0   $9,000,000     $27,000,000
12      Andrew Miller       RP    2.0  $12,500,000     $25,000,000
13          Joe Kelly       RP    3.0   $8,333,333     $25,000,000
14      D.J. LeMahieu       2B    2.0  $12,000,000     $24,000,000
15      Daniel Murphy       1B    2.0  $12,000,000     $24,000,000
16    David Robertson       RP    2.0  $11,500,000     $23,000,000
17     Josh Donaldson       3B    1.0  $23,000,000     $23,000,000
18    Marwin Gonzalez       LF    2.0  $10,500,000     $21,000,000
19         Jed Lowrie       2B    2.0  $10,000,000     $20,000,000
20     Anibal Sanchez       SP    2.0   $9,500,000     $19,000,000
21       Wilson Ramos        C    2.0   $9,500,000     $19,000,000
22    Yasmani Grandal        C    1.0  $18,250,000     $18,250,000
23     Kelvin Herrera       RP    2.0   $9,000,000     $18,000,000
24   Garrett Richards       SP    2.0   $7,750,000     $15,500,000
25       Joakim Soria       RP    2.0   $7,500,000     $15,000,000
26        Nelson Cruz       DH    1.0  $14,300,000     $14,300,000
27      Michael Fiers       SP    2.0   $7,050,000     $14,100,000
28        Matt Harvey       SP    1.0  $11,000,000     $11,000,000
29     Mike Moustakas       3B    1.0  $10,000,000     $10,000,000
..                ...      ...    ...          ...             ...
269   Jason Bourgeois       LF    NaN          NaN             NaN
270        Luis Perez       RP    NaN          NaN             NaN
271     James Russell       RP    NaN          NaN             NaN
272   Brian Schlitter       RP    NaN          NaN             NaN
273     Nick Hagadone       RP    NaN          NaN             NaN
274     Jim Henderson       RP    NaN          NaN             NaN
275     Neftali Feliz       RP    NaN          NaN             NaN
276       Brayan Pena        C    NaN          NaN             NaN
277      Samir Duenez       1B    NaN          NaN             NaN
278    Shawn Tolleson       RP    NaN          NaN             NaN
279       Pedro Beato       RP    NaN          NaN             NaN
280       Mike Baxter       LF    NaN          NaN             NaN
281       Chris Young       RP    NaN          NaN             NaN
282     Cesar Jimenez       RP    NaN          NaN             NaN
283       Darin Downs       RP    NaN          NaN             NaN
284      Andy LaRoche       3B    NaN          NaN             NaN
285      Tommy Joseph       1B    NaN          NaN             NaN
286   Conor Gillaspie       3B    NaN          NaN             NaN
287       Adam Loewen       RP    NaN          NaN             NaN
288    Jordan Schafer       CF    NaN          NaN             NaN
289        Mike McCoy       RF    NaN          NaN             NaN
290  Daniel McCutchen       RP    NaN          NaN             NaN
291   Carlos Corporan        C    NaN          NaN             NaN
292      Bryan Morris       RP    NaN          NaN             NaN
293       Jo-Jo Reyes       SP    NaN          NaN             NaN
294    Chris Parmelee       1B    NaN          NaN             NaN
295    Hanley Ramirez       1B    NaN          NaN             NaN
296        Ryan Perry       RP    NaN          NaN             NaN
297     Luke Putkonen       RP    NaN          NaN             NaN
298               NaN      NaN  213.0   $6,874,155  $1,464,195,000

[299 rows x 5 columns]

In [10]:
signed_free_agents.to_csv('2019signed_free_agents.csv')

In [ ]:
# Adding our Age Group column to our unique user df
User_list["Age Group"] = pd.cut(User_list["Age"], bins, labels=Age_bins)
Age_group_df = User_list.groupby("Age Group")
Age_group_count = Age_group_df["Age Group"].count()
Percent_of_players = Age_group_count / total_players * 100
Age_Demographics = pd.DataFrame({"Total Count": Age_group_count,"Percentage of Players": Percent_of_players})