In [37]:
import pandas as pd

In [38]:
people = 'people.csv'
people_df = pd.read_csv(people)
people_df

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01
5,abadfe01,1985.0,12.0,17.0,D.R.,La Romana,La Romana,NaN,NaN,NaN,...,Abad,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2017-10-01,abadf001,abadfe01
6,abadijo01,1850.0,11.0,4.0,USA,PA,Philadelphia,1905.0,5.0,17.0,...,Abadie,John W.,192.0,72.0,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
7,abbated01,1877.0,4.0,15.0,USA,PA,Latrobe,1957.0,1.0,6.0,...,Abbaticchio,Edward James,170.0,71.0,R,R,1897-09-04,1910-09-15,abbae101,abbated01
8,abbeybe01,1869.0,11.0,11.0,USA,VT,Essex,1962.0,6.0,11.0,...,Abbey,Bert Wood,175.0,71.0,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
9,abbeych01,1866.0,10.0,14.0,USA,NE,Falls City,1926.0,4.0,27.0,...,Abbey,Charles S.,169.0,68.0,L,L,1893-08-16,1897-08-19,abbec101,abbeych01
10,abbotda01,1862.0,3.0,16.0,USA,OH,Portage,1930.0,2.0,13.0,...,Abbott,Leander Franklin,190.0,71.0,R,R,1890-04-19,1890-05-23,abbod101,abbotda01
11,abbotfr01,1874.0,10.0,22.0,USA,OH,Versailles,1935.0,6.0,11.0,...,Abbott,Harry Frederick,180.0,70.0,R,R,1903-04-25,1905-09-20,abbof101,abbotfr01
12,abbotgl01,1951.0,2.0,16.0,USA,AR,Little Rock,NaN,NaN,NaN,...,Abbott,William Glenn,200.0,78.0,R,R,1973-07-29,1984-08-08,abbog001,abbotgl01
13,abbotje01,1972.0,8.0,17.0,USA,GA,Atlanta,NaN,NaN,NaN,...,Abbott,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01
14,abbotji01,1967.0,9.0,19.0,USA,MI,Flint,NaN,NaN,NaN,...,Abbott,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01
15,abbotku01,1969.0,6.0,2.0,USA,OH,Zanesville,NaN,NaN,NaN,...,Abbott,Kurt Thomas,180.0,71.0,R,R,1993-09-07,2001-04-13,abbok002,abbotku01
16,abbotky01,1968.0,2.0,18.0,USA,MA,Newburyport,NaN,NaN,NaN,...,Abbott,Lawrence Kyle,200.0,76.0,L,L,1991-09-10,1996-08-24,abbok001,abbotky01
17,abbotod01,1886.0,9.0,5.0,USA,PA,New Eagle,1933.0,4.0,13.0,...,Abbott,Ody Cleon,165.0,69.0,L,R,1910-09-10,1910-10-15,abboo101,abbotod01
18,abbotpa01,1967.0,9.0,15.0,USA,CA,Van Nuys,NaN,NaN,NaN,...,Abbott,Paul David,185.0,75.0,R,R,1990-08-21,2004-08-07,abbop001,abbotpa01
19,aberal01,1927.0,7.0,31.0,USA,OH,Cleveland,1993.0,5.0,20.0,...,Aber,Albert Julius,195.0,74.0,L,L,1950-09-15,1957-09-11,abera101,aberal01
20,abercda01,1850.0,1.0,2.0,USA,OK,Fort Towson,1939.0,11.0,11.0,...,Abercrombie,Francis Patterson,NaN,NaN,NaN,NaN,1871-10-21,1871-10-21,aberd101,abercda01
21,abercre01,1980.0,7.0,15.0,USA,GA,Columbus,NaN,NaN,NaN,...,Abercrombie,Reginald Damascus,215.0,75.0,R,R,2006-04-04,2008-09-28,aberr001,abercre01
22,abernbi01,1929.0,1.0,30.0,USA,CA,Torrance,2006.0,2.0,19.0,...,Abernathie,William Edward,190.0,70.0,R,R,1952-09-27,1952-09-27,aberb101,abernbi01
23,abernbr01,1977.0,9.0,23.0,USA,GA,Atlanta,NaN,NaN,NaN,...,Abernathy,Michael Brent,185.0,73.0,R,R,2001-06-25,2005-09-29,aberb001,abernbr01
24,abernte01,1921.0,10.0,30.0,USA,NC,Bynum,2001.0,11.0,16.0,...,Abernathy,Talmadge Lafayette,210.0,74.0,R,L,1942-09-19,1944-04-29,abert102,abernte01
25,abernte02,1933.0,3.0,6.0,USA,NC,Stanley,2004.0,12.0,16.0,...,Abernathy,Theodore Wade,215.0,76.0,R,R,1955-04-13,1972-09-30,abert101,abernte02
26,abernwo01,1915.0,2.0,1.0,USA,NC,Forest City,1994.0,12.0,5.0,...,Abernathy,Virgil Woodrow,170.0,72.0,L,L,1946-07-28,1947-04-17,aberw101,abernwo01
27,aberscl01,1921.0,8.0,28.0,USA,IL,Chicago,1973.0,6.0,23.0,...,Aberson,Clifford Alexander,200.0,72.0,R,R,1947-07-18,1949-05-09,aberc101,aberscl01
28,ablesha01,1883.0,10.0,4.0,USA,TX,Terrell,1951.0,2.0,8.0,...,Ables,Harry Terrell,200.0,74.0,R,L,1905-09-04,1911-05-05,ableh101,ablesha01
29,abnersh01,1966.0,6.0,17.0,USA,OH,Hamilton,NaN,NaN,NaN,...,Abner,Shawn Wesley,190.0,73.0,R,R,1987-09-08,1992-10-03,abnes001,abnersh01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19587,zimmejo02,1986.0,5.0,23.0,USA,WI,Auburndale,NaN,NaN,NaN,...,Zimmermann,Jordan M.,225.0,74.0,R,R,2009-04-20,2018-09-28,zimmj003,zimmejo02
19588,zimmero01,1913.0,9.0,13.0,USA,PA,Pine Grove,1991.0,11.0,22.0,...,Zimmerman,Roy Franklin,187.0,74.0,L,L,1945-08-27,1945-09-30,zimmr101,zimmero01
19589,zimmery01,1984.0,9.0,28.0,USA,NC,Washington,NaN,NaN,NaN,...,Zimmerman,Ryan Wallace,215.0,75.0,R,R,2005-09-01,2018-09-26,zimmr001,zimmery01
19590,zinkch01,1979.0,8.0,26.0,USA,CA,Carmichael,NaN,NaN,NaN,...,Zink,Charles Tadao,190.0,73.0,R,R,2008-08-12,2008-08-12,zinkc001,zinkch01
19591,zinkwa01,1898.0,11.0,21.0,USA,MA,Pittsfield,1964.0,6.0,12.0,...,Zink,Walter Noble,165.0,72.0,R,R,1921-07-06,1921-07-19,zinkw101,zinkwa01
19592,zinnfr01,1865.0,12.0,21.0,USA,PA,Phoenixville,1936.0,5.0,12.0,...,Zinn,Frank Patrick,150.0,68.0,NaN,NaN,1888-04-18,1888-05-03,zinnf101,zinnfr01
19593,zinngu01,1887.0,2.0,13.0,USA,WV,Holbrook,1949.0,10.0,6.0,...,Zinn,Guy,170.0,70.0,L,R,1911-09-11,1915-09-16,zinng101,zinngu01
19594,zinnji01,1895.0,1.0,31.0,USA,AR,Benton,1991.0,2.0,26.0,...,Zinn,James Edward,195.0,72.0,L,R,1919-09-04,1929-08-25,zinnj101,zinnji01
19595,zinsebi01,1918.0,1.0,6.0,USA,NY,Astoria,1993.0,2.0,16.0,...,Zinser,William Francis,185.0,73.0,R,R,1944-08-19,1944-08-26,zinsb101,zinsebi01
19596,zinteal01,1968.0,5.0,19.0,USA,TX,El Paso,NaN,NaN,NaN,...,Zinter,Alan Michael,200.0,74.0,B,R,2002-06-18,2004-10-03,zinta001,zinteal01
19597,zipfebu01,1938.0,11.0,18.0,USA,IL,Belleville,NaN,NaN,NaN,...,Zipfel,Marion Sylvester,200.0,75.0,L,R,1961-07-26,1962-09-30,zipfb101,zipfebu01
19598,ziskri01,1949.0,2.0,6.0,USA,NY,Brooklyn,NaN,NaN,NaN,...,Zisk,Richard Walter,200.0,73.0,R,R,1971-09-08,1983-09-21,ziskr101,ziskri01
19599,zitoba01,1978.0,5.0,13.0,USA,NV,Las Vegas,NaN,NaN,NaN,...,Zito,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01
19600,zitzmbi01,1895.0,11.0,19.0,USA,NY,Long Island City,1985.0,5.0,29.0,...,Zitzmann,William Arthur,175.0,70.0,R,R,1919-04-27,1929-09-25,zitzb101,zitzmbi01
19601,zmiched01,1884.0,10.0,1.0,USA,OH,Cleveland,1950.0,8.0,20.0,...,Zmich,Edward Albert,180.0,72.0,L,L,1910-07-23,1911-06-01,zmice101,zmiched01
19602,zobribe01,1981.0,5.0,26.0,USA,IL,Eureka,NaN,NaN,NaN,...,Zobrist,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2018-10-01,zobrb001,zobribe01
19603,zoccope01,1977.0,2.0,6.0,USA,NY,Bronx,NaN,NaN,NaN,...,Zoccolillo,Peter Jude,200.0,74.0,L,R,2003-09-05,2003-09-28,zoccp001,zoccope01
19604,zoldasa01,1918.0,12.0,8.0,USA,NY,Brooklyn,1966.0,8.0,25.0,...,Zoldak,Samuel Walter,185.0,71.0,L,L,1944-05-13,1952-08-26,zolds101,zoldasa01
19605,zoskyed01,1968.0,2.0,10.0,USA,CA,Whittier,NaN,NaN,NaN,...,Zosky,Edward James,175.0,72.0,R,R,1991-09-02,2000-10-01,zoske001,zoskyed01
19606,zuberbi01,1913.0,3.0,26.0,USA,IA,Middle Amana,1982.0,11.0,2.0,...,Zuber,William Henry,195.0,74.0,R,R,1936-09-16,1947-09-23,zubeb101,zuberbi01
19607,zuberjo01,1969.0,12.0,10.0,USA,CA,Encino,NaN,NaN,NaN,...,Zuber,Jon Edward,190.0,73.0,L,L,1996-04-19,1998-09-27,zubej001,zuberjo01
19608,zuletju01,1975.0,3.0,28.0,Panama,Panama,Panama,NaN,NaN,NaN,...,Zuleta,Julio Ernesto,230.0,78.0,R,R,2000-04-06,2001-06-25,zulej001,zuletju01
19609,zumayjo01,1984.0,11.0,9.0,USA,CA,Chula Vista,NaN,NaN,NaN,...,Zumaya,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01
19610,zuninmi01,1991.0,3.0,25.0,USA,FL,Cape Coral,NaN,NaN,NaN,...,Zunino,Michael Accorsi,220.0,74.0,R,R,2013-06-12,2018-09-29,zunim001,zuninmi01
19611,zupcibo01,1966.0,8.0,18.0,USA,PA,Pittsburgh,NaN,NaN,NaN,...,Zupcic,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01
19612,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,...,Zupo,Frank Joseph,182.0,71.0,L,R,1957-07-01,1961-05-09,zupof101,zupofr01
19613,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173.0,72.0,R,R,1982-09-04,1991-05-02,zuvep001,zuvelpa01
19614,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,...,Zuverink,George,195.0,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01
19615,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,...,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01
19616,zychto01,1990.0,8.0,7.0,USA,IL,Monee,NaN,NaN,NaN,...,Zych,Anthony Aaron,190.0,75.0,R,R,2015-09-04,2017-08-19,zycht001,zychto01

In [39]:
people_df['playerID'].dtype

dtype('O')

In [40]:
salaries = 'salaries.csv'
sal_df = pd.read_csv(salaries)
sal_df

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
5        1985    ATL   NL  chambch01    800000
6        1985    ATL   NL  dedmoje01    150000
7        1985    ATL   NL  forstte01    483333
8        1985    ATL   NL  garbege01    772000
9        1985    ATL   NL  harpete01    250000
10       1985    ATL   NL  hornebo01   1500000
11       1985    ATL   NL  hubbagl01    455000
12       1985    ATL   NL  mahleri01    407500
13       1985    ATL   NL  mcmurcr01    275000
14       1985    ATL   NL  mumphje01    775000
15       1985    ATL   NL  murphda05   1625000
16       1985    ATL   NL  oberkke01    616667
17       1985    ATL   NL  perezpa01    450000
18       1985    ATL   NL  perryge01    120000
19       1985    ATL   NL  ramirra01    750000
20       1985    ATL   NL  suttebr01   1354167
21       1985    ATL   NL  washicl01    800000
22       1985    BAL   AL  boddimi01    625000
23       1985    BAL   AL  dauerri01    480000
24       1985    BAL   AL  davisst02    437500
25       1985    BAL   AL  dempsri01    512500
26       1985    BAL   AL  dwyerji01    375000
27       1985    BAL   AL  flanami01    641667
28       1985    BAL   AL   fordda01    450000
29       1985    BAL   AL  grosswa01    483333
...       ...    ...  ...        ...       ...
26398    2016    TOR   AL  stromma01    515900
26399    2016    TOR   AL  tholejo01    800000
26400    2016    TOR   AL  travide01    511200
26401    2016    TOR   AL  tulowtr01  20000000
26402    2016    WAS   NL  barreaa01    519400
26403    2016    WAS   NL  belisma01   1250000
26404    2016    WAS   NL   drewst01   3000000
26405    2016    WAS   NL  espinda01   2875000
26406    2016    WAS   NL  gonzagi01  12100000
26407    2016    WAS   NL  harpebr03   5000000
26408    2016    WAS   NL  heisech01   1250000
26409    2016    WAS   NL  kellesh01   4000000
26410    2016    WAS   NL  lobatjo01   1387500
26411    2016    WAS   NL  murphda08   8000000
26412    2016    WAS   NL  papeljo01  10936574
26413    2016    WAS   NL  perezol01   3000000
26414    2016    WAS   NL  petityu01   2500000
26415    2016    WAS   NL  ramoswi01   5350000
26416    2016    WAS   NL  rendoan01   2800000
26417    2016    WAS   NL  reverbe01   6250000
26418    2016    WAS   NL  riverfe01    516100
26419    2016    WAS   NL  roarkta01    543400
26420    2016    WAS   NL  robincl01    534900
26421    2016    WAS   NL   rossjo01    514400
26422    2016    WAS   NL  scherma01  22142857
26423    2016    WAS   NL  strasst01  10400000
26424    2016    WAS   NL  taylomi02    524000
26425    2016    WAS   NL  treinbl01    524900
26426    2016    WAS   NL  werthja01  21733615
26427    2016    WAS   NL  zimmery01  14000000

[26428 rows x 5 columns]

In [41]:
join_df = pd.merge(sal_df, people_df,how='left', on='playerID')
join_df = join_df[['nameFirst', 'nameLast', 'teamID', 'yearID', 'salary', ]]
join_df = join_df.loc[join_df['yearID'] >= 2007, :]
join_df = pd.DataFrame(join_df)

In [43]:
join_df

     nameFirst    nameLast teamID  yearID    salary
0        Brian      Barden    ARI    2007    380000
1         Eric      Byrnes    ARI    2007   4575000
2      Alberto    Callaspo    ARI    2007    380000
3         Tony       Clark    ARI    2007   1034000
4         Juan        Cruz    ARI    2007   1437500
5         Jeff     DaVanon    ARI    2007   1250000
6         Doug       Davis    ARI    2007   5500000
7      Stephen        Drew    ARI    2007   1500000
8        J. D.      Durbin    ARI    2007    380000
9        Edgar    Gonzalez    ARI    2007    387500
10       Scott    Hairston    ARI    2007    389000
11       Robby     Hammock    ARI    2007    389500
12       Livan   Hernandez    ARI    2007   7000000
13     Orlando      Hudson    ARI    2007   3900000
14       Conor     Jackson    ARI    2007    392000
15       Randy     Johnson    ARI    2007   9100546
16     Brandon        Lyon    ARI    2007   1500000
17     Brandon     Medders    ARI    2007    390500
18      Miguel     Montero    ARI    2007    380000
19      Dustin     Nippert    ARI    2007    380000
20        Tony        Pena    ARI    2007    381000
21      Carlos     Quentin    ARI    2007    381000
22        Doug      Slaten    ARI    2007    380000
23       Chris      Snyder    ARI    2007    400000
24        Chad       Tracy    ARI    2007   3000000
25        Jose    Valverde    ARI    2007   2000000
26     Brandon        Webb    ARI    2007   4500000
27       Chris       Young    ARI    2007    380000
28       Willy       Aybar    ATL    2007    385000
29       Lance     Cormier    ATL    2007    405000
...        ...         ...    ...     ...       ...
8285    Marcus     Stroman    TOR    2016    515900
8286      Josh       Thole    TOR    2016    800000
8287     Devon      Travis    TOR    2016    511200
8288      Troy  Tulowitzki    TOR    2016  20000000
8289     Aaron     Barrett    WAS    2016    519400
8290      Matt     Belisle    WAS    2016   1250000
8291   Stephen        Drew    WAS    2016   3000000
8292     Danny    Espinosa    WAS    2016   2875000
8293       Gio    Gonzalez    WAS    2016  12100000
8294     Bryce      Harper    WAS    2016   5000000
8295     Chris      Heisey    WAS    2016   1250000
8296     Shawn      Kelley    WAS    2016   4000000
8297      Jose     Lobaton    WAS    2016   1387500
8298    Daniel      Murphy    WAS    2016   8000000
8299  Jonathan    Papelbon    WAS    2016  10936574
8300    Oliver       Perez    WAS    2016   3000000
8301  Yusmeiro       Petit    WAS    2016   2500000
8302    Wilson       Ramos    WAS    2016   5350000
8303   Anthony      Rendon    WAS    2016   2800000
8304       Ben      Revere    WAS    2016   6250000
8305    Felipe     Vazquez    WAS    2016    516100
8306    Tanner       Roark    WAS    2016    543400
8307     Clint    Robinson    WAS    2016    534900
8308       Joe        Ross    WAS    2016    514400
8309       Max    Scherzer    WAS    2016  22142857
8310   Stephen   Strasburg    WAS    2016  10400000
8311   Michael      Taylor    WAS    2016    524000
8312     Blake     Treinen    WAS    2016    524900
8313    Jayson       Werth    WAS    2016  21733615
8314      Ryan   Zimmerman    WAS    2016  14000000

[8315 rows x 5 columns]

In [42]:
join_df = join_df.reset_index(drop=True)
join_df.to_csv('old_salaries.c')